html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
    font-family: "Open Sans", "Sans-serif";
    font-size: 16px;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}