<section class="main">
    <a name="acerca-de">
    </a>
    <section class="acerca-de">
        <div class="contenedor">
            <!-- <div class="foto">
                <img src="assets/images/claudio.jpg" width="140" height="140" alt="Claudio Sandoval">
            </div> -->

            <div class="texto">
                <h3 class="titulo">Sobre mí</h3>
                <p>Me presento, mi nombre es Claudio Sandoval y mis habilidades se centran en el área de desarrollo web y software, sin embargo deseo poder seguir adquiriendo conocimientos en este gran mundo informático con una variedad de tecnologías
                    y en constante actualización. En mi sección de trabajos iré dejando todos mis proyectos propios y en conjunto
                </p>
            </div>
        </div>
    </section>
    <a name="trabajos" href=""></a>
    <section class="trabajos">
        <div class="contenedor">
            <h3 class="titulo">Trabajos</h3>
            <div class="contenedor-trabajos">
                <div class="trabajo">
                    <div class="thumb">
                        <a href="https://claudiosandoval.github.io/lupuloloscastanos/">
                            <img src="assets/images/lupuloloscastanospc.png" alt="Lupulo Los Castanos">
                        </a>
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Lupulo Los Castaños</p>
                        <p class="categoria">Angular - Firebase</p>
                    </div>
                </div>
                <div class="trabajo">
                    <div class="thumb">
                        <a href="https://blogdepeliculas.000webhostapp.com/">
                            <img src="assets/images/blogdepeliculaspc.png" alt="Blog de peliculas">
                        </a>
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Blog de peliculas</p>
                        <p class="categoria">PHP - MYSQL</p>
                    </div>
                </div>
                <div class="trabajo">
                    <div class="thumb">
                        <a href="http://www.nostalgram.online/">
                            <img src="assets/images/nostalgrampc.png" alt="Nostalgram">
                        </a>
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Nostalgram</p>
                        <p class="categoria">LARAVEL - Mysql - Diseño responsive con Bootstrap</p>
                    </div>
                </div>
                <div class="trabajo">
                    <div class="thumb">
                        <a href="https://claudiosandoval.github.io/Restaurante-Chino-v2/">
                            <img src="assets/images/comidachinapc.png" alt="comida china">
                        </a>
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Comida china</p>
                        <p class="categoria">Javascript - Diseño responsive con Bootstrap</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>