<section class="main">
    <a name="acerca-de">
    </a>
    <section class="acerca-de">
        <div class="contenedor">
            <div class="foto">
                <img src="/assets/img/trabajo.jpg" width="140" height="140" alt="Claudio Sandoval">
            </div>

            <div class="texto">
                <h3 class="titulo">Sobre mí</h3>
                <p>Me presento, mi nombre es Claudio Sandoval y mis habilidades se centran en el área de desarrollo web por el lado del cliente sin embargo deseo poder seguir adquiriendo conocimientos en este gran mundo informático con una variedad de tecnologías
                    y en constante actualización. En mi sección de trabajos iré dejando todos mis proyectos propios y en conjunto
                </p>
            </div>
        </div>
    </section>
    <a name="trabajos" href=""></a>
    <section class="trabajos">
        <div class="contenedor">
            <h3 class="titulo">Trabajos</h3>
            <div class="contenedor-trabajos">
                <div class="trabajo">
                    <div class="thumb">
                        <a href="https://claudiosandoval.github.io/LupuloLosCastanos/">
                            <img src="/assets/img/trabajos/1.jpg" alt="Lorem Ipsum">
                        </a>
                        <!-- en el alt debes poner alguna descripcion de la imagen -->
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Lupulo Los Castaños</p>
                        <p class="categoria">Angular - Html - CSS</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>